/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *= require bootstrap_and_overrides
 *= require font-awesome
 *= require_tree .
 *= require_self
 */

body{
  font-size: 1.75em;
  background-color: #BBBBBB;
  border-top: 5px solid #7e7e7e;
  margin: 0;
}
p {
  margin: 20px 0;
}
#wrapper {
  margin: auto;
}
header {
  padding: 5px 0;
  background-color: #29c5e6;
  text-align: right;
}
h2 {
  background: #29c5e6;
  font: 30px 'Oswald', sans-serif;
  font-weight: 300;
  color: #fff;
  padding: 0 10px;
  margin: 30px 0 0 0;
  text-align: left;
}

aside {
  float: left;
  width: 250px;
}

hr {
  width: 600px;
  color: black;
}

section {
  max-width: 660px;
  min-height: 600px;
  margin-left: 280px;
  background-color: white;
}

.hre{
  .action {opacity: 0;}

  &:hover .action {  opacity: 1;
    transition: opacity 0.5s ease;
  }
}


footer {
  background: #7e7e7e;
  color: #dbdbdb;
  font-size: 11px;
}

#footer {
  max-width: 960px;
  padding: 10px 0;
  height: 90px;
}




